@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,600&display=swap');
body{
    background: url(../images/javascript.jpg) no-repeat center;
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
}
h2, h3, h4{
  text-align: center;
  border-bottom: 2px dotted #ffffff;
  padding-bottom: 10px;
  margin: 0px 40px;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffd500 #3d4144;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffd500;
    border-radius: 10px;
    border: 0px solid #000000;
  }
main{
    background-color: #00000066;
    border-radius: 40px;
    border: 2px solid #aa0;
    height: 800px;
    width: 493px;
}
h1 {
    color: #fff;
    text-align: center;
    border-bottom: 3px solid #aa0;
}
header{
  position: relative;
}
header h1{
  color: #aa0;
  text-align: center;
  font-size: 2.4rem;
}
nav {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    overflow-y: auto;
    height: 600px;
}
header a:link,
header a:visited{
  color: #aa0;
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  position: absolute;
  left: 20px;
  transition: all 0.2s ease-in;
}
header a:hover{
  transform: scale(1.1) translateX(-10px);
}
nav li {
    list-style: none;
}
nav li a:link,
nav li a:visited{
    background-color: #fadf3888;
    border-radius: 10px;
    display: flex;
    color: #000;
    text-decoration: none;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s ease-in;
    
}
nav li a i {
    background-color: #000;
    border-radius: 20px;
    color: #fadf38;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    transition: transform 0.2s 0.2s ease in;
}
nav li a:hover{
    background-color: #fadf38;
}
nav li a:hover i {
    transform: scale(1.5);
    transition: transform 0.2s 0.2s ease-in;
}